a {
    text-decoration: none;
}

.link_style {
    color: cornflowerblue;
    font-size: 16px;
    line-height: 20px;
}

.h1_style {
    color: #222222;
    font-size: 28px;
    line-height: 36px;
    font-weight: bold;
}

.p_style {
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    font-weight: 30px;
    color: #7D7987;
}

.h2_style {
    color: coral;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 80px;
}